@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:#E54065;
  --secondary:#E1E4EA;
  --background: #F4F5F9;
  --border:#CFD2DC;
  --text:#636363;
  --foreground: #171717;

}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.selected-filter-btn {
  background-color: #E1E4EA;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
